

:root{
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
}



.movie-list-container{
    margin-top :40px;
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 280px));
    gap: 24px;
    justify-content: center;
}

.movie-card {
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    cursor : pointer;
}

.card-body {
    padding : 18px;
}

.movie-card figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16/13;
    overflow: hidden;
}

.movie-card figure img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

.movie-card h2{
    margin: 0 0 18px 0;
    font-family: "Bebas Neue";
    font-size: 1.2rem;
    letter-spacing: 0.01em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}

.movie-card a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
}

.card-description {
    margin : 0 ;
    margin-bottom : 1.1em;
}

.icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
}

.title-rating {
    display: flex;
    justify-content: space-between;
    margin-top :.6em;
}

.title-rating p {
    margin : 0;
    color: var(--title-color);
    font-size  : 1.1em
}

.movie-card:has(:hover , :focus){
    --img-scale: 1.15;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
}

.pagination {
    background : white;
    padding : 30px;
    display: flex;
    gap:30px;
    list-style: none;
    justify-content: center;
}

.page{
    display: inline-block;
    padding: 10px 10px;
    background-color: #007bff; /* Button color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .page:hover {
    background-color: #0056b3; /* Hover color */
  }
  