.movie-details-container{
    margin-top :50px;
    /* height : 400px;  */
    width :95%;
    margin-inline : auto;
    overflow: hidden;
  
}

.details-wrapper {
   display: grid;
   gap :10px;
   grid-template-columns: 300px auto;
   grid-template-rows:  350px;
   border-radius: 16px;
   overflow: hidden;
   background : white ;
}

.image-wrapper {
    position: relative;
}

.details-wrapper figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
    aspect-ratio: 10/9;
}

.details-wrapper figure img {
    position: absolute;
	height: 350px;
	width: 300px;
	top: 0;
	left: 0;
	transition: transform 0.2s ease;
}


.details-wrapper .title {
    display: flex;
    gap :5px;
    align-items: center;
}

.title h2{
    margin : 0
}

.title span {
    color : gray;
    font-size: 1.2rem;
    font-weight: 900;
}

.details-content {  
    justify-self: start;
    height : 300px;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    padding : 0px 10px;
}

@media screen and (max-width: 800px) {
    .movie-details-container{
        height: auto;
    }
    .details-wrapper{
       display : grid ; 
       grid-template-columns: 1fr;
       grid-template-rows: 300px auto;
    }
}